<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:coldfusion="http://www.compoundtheory.com/javaloader/schema/coldfusion"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd 
	http://www.compoundtheory.com/javaloader/schema/coldfusion http://www.compoundtheory.com/javaloader/schema/spring-coldfusion.xsd">
	
	<coldfusion:cfc id="foo" 
					script-source="file://${rootPath}/unittests/dynamicproxy/cfc/SimpleBean.cfc"
					script-source-relative="false"
					script-interfaces="ut2.IFoo"
					/>
					
	<coldfusion:cfc id="dibean" script-interfaces="ut3.IDIBean" 
					script-source="file://${rootPath}/unittests/dynamicproxy/cfc/DIBean.cfc"
					script-source-relative="false"
					init-method="init"
					scope="prototype"
					>
		<coldfusion:property name="stringValue" ref="StringValue" />
	</coldfusion:cfc>
	
	<coldfusion:cfc id="dibeanSingle" script-interfaces="ut3.IDIBean" 
					script-source="file://${rootPath}/unittests/dynamicproxy/cfc/DIBean.cfc"
					script-source-relative="false"
					init-method="init"
					autowire="byName"
					scope="singleton"
					>
	</coldfusion:cfc>

	<coldfusion:cfc id="relativeBean" 
					script-source="file:///unittests/dynamicproxy/cfc/SimpleBean.cfc"
					script-interfaces="ut2.IFoo"
					/>
	
	<bean id="StringValue" class="java.lang.String">
		<constructor-arg value="This is my String!"></constructor-arg>
	</bean>
	
	<bean id="bar" class="ut3.Bar" />
	
	<context:property-placeholder location="classpath:ut3/default.properties" />
</beans>